<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PhishGuard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="app-container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="logo">
                <div class="logo-icon">🛡️</div>
                <div>
                    <h2>PhishGuard</h2>
                    <span>Email Security</span>
                </div>
            </div>

            <nav>

                <a href="/" class="nav-item">
                    <span>📊</span>
                    Dashboard
                </a>

                <a href="/analyze" class="nav-item">
                    <span>🔍</span>
                    Analyze Email
                </a>

                <a href="/reports" class="nav-item">
                    <span>📄</span>
                    Reports
                </a>

                <a href="/about" class="nav-item">
                    <span>🛡️</span>
                    Phishing Detection
                </a>

                <a href="/settings" class="nav-item">
                    <span>⚙️</span>
                    Settings
                </a>

            </nav>

            <div class="sidebar-bottom">

                <a href="/profile" class="profile-card">
                    <div class="avatar">DS</div>

                    <div>
                        <strong>Student</strong>
                        <small>Security Analyst</small>
                    </div>
                </a>

            </div>

        </aside>


        <!-- Main Content -->
        <main class="main-content">

            <header class="topbar">

                <div>
                    <h1>{% block page_title %}Dashboard{% endblock %}</h1>
                    <p>{% block page_subtitle %}Monitor your email security{% endblock %}</p>
                </div>

                <a href="/analyze" class="scan-button">
                    + New Analysis
                </a>

            </header>


            <section class="content">

                {% block content %}

                {% endblock %}

            </section>

        </main>

    </div>

</body>
</html>